<!DOCTYPE html>
<html ng-app="intrpretr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Intrpretr</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- JavaScript for Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- ngRoute routing module from angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="/vendor/satellizer/dist/satellizer.min.js"></script>
    <script src="/vendor/angular-truncate-2/dist/angular-truncate-2.min.js"></script>



    <!-- Local JavaScript -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/IndexController.js"></script>
    <script type="text/javascript" src="/js/controllers/TranslatorsIndexController.js"></script>
    <script type="text/javascript" src="/js/controllers/TranslatorsShowController.js"></script>
    <script type="text/javascript" src="/js/controllers/ProfileController.js"></script>



  </head>

  <body ng-controller="MainController as mainCtrl">
    <nav class="row navbar">
        <div id="logo" class="three columns">
          <span><a href="/">Intrpretr</a></span>
        </div>
        <div class="nine columns">
          <ul>
            <a ng-show="mainCtrl.currentUser()" href="/translators"><li id=translatorslink>Translators</li></a>
            <a ng-show="!mainCtrl.currentUser()" href="/login"><li id="login">Login</li></a>
            <a ng-show="!mainCtrl.currentUser()" href="/signup"><li id="signup">Sign Up</li></a>
            <a ng-show="mainCtrl.currentUser()" href="/profile"><li id="profile" ng-show="mainCtrl.currentUser()">Profile</li></a>
            <a ng-show="mainCtrl.currentUser()" href="/logout"><li id="logout" ng-show="mainCtrl.currentUser()">Log Out</li></a>
          </ul>
        </div>
    </nav>
    <div ng-view></div>

  </body>
</html>
