<!DOCTYPE html>
<html ng-app="project">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Project 3</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- JavaScript for Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- ngRoute routing module from angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

    <!-- Local JavaScript -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/IndexController.js"></script>

  </head>

  <body>
    <nav>
        <div id="logo" class="six columns">
          <span>Project {{1+1+1}}</span>
        </div>
        <div class="six columns">
          <ul>
            <a href="#"><li id="login">Login</li></a>
            <a href="#"><li id="signup">Sign Up</li></a>
          </ul>
        </div>
    </nav>
    <div ng-view></div>

  </body>
</html>
