// body {
//   background-color: #F1F1F1;
// }

#heroimg {
  background-image: url("/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  min-height: 700px;
}

#splash {
  margin-top: 100px;
  background-color: white;
  opacity: .7;
  border: 2px solid white;
  border-radius: 10px;
  height: 350px;
}
