.profilecard {
  margin-bottom: 3%;
}

.skillheader {
  text-align: center;
  padding-bottom: 10px;
}

span.skillbtn {
  display: inline-block;
  background-color: #2BA6CC;
  color: white;
  padding: 2%;
  margin: 5px 1%;
  border-radius: 3px;
}

.contactinfolist {
  display: inline-block;
  margin-left: 10px;
  margin-right: -10px;
}

#editbutton {
  width: 100%;
}

#profilepic {
  width: 100%;
  border: 1px solid black;
  border-radius: 100%;
}

.profilepic {
  margin-top: 10px;
  margin-left: 20px;
}

#usernameedit {
  width: 50%;
  margin-left: 25%;
}

#ageselect {
  margin-left: 30%;
}

textarea {
  width: 100%;
}
