@media (max-width:550px) {
  nav {
    height: 120px;
    text-align: center;
    #logo span {
      padding-left: 0px;
    }
    ul {
      margin-left: 10px;
      float: none;
      a li {
        float: none;
        margin-left: -10px;
      }
    }

  }

  img.cardprofilepic {
    margin: 10px 25%;
    width: 50%;

  }

  .languagesspecialties {
    width: 100%;
  }

  #profilepic {
    width: 50%;
    border: 1px solid black;
    border-radius: 100%;
  }

  .profilepic {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
  }

  .query {
    text-align: center;
  }

  .repeat {
    width: 100%;
  }

  .half{
    width:50%;
    margin: 0 25%;
  }


}
