.translators .four {
  margin-left: 0;
  .select {
    border-radius: 0;
  }
}

#searchBtn {
  margin-top: 29px;
  background-color: #FF4338;
  border-color: #FF4338;
}

#location {
  height: 35px;
}

.translatorcard, .profilecard, .blurb {
  background-color: white;
  border: 1px solid #F1F1F1;
  padding: 5px;
}

.cardprofilepic {
  width: 100%;
  border: 1px solid black;
  border-radius: 100%;
  margin: 10% 0 0 10%;
}

.username-bio, .agegender-bio, .location-bio, .contactlistheader, .fullname {
  text-align: center;
  margin: 0;
}

.blurb {
  color: #7C7C7C;
  font-size: .85em;
  display: inline-block;
  padding: 5px 10px;

}

.languagesspecialties {
  word-wrap: break-word;
}

.query {
  break-after: always;
}

hr {
  margin: 3px;
}
