.translators .four {
  margin-left: 0;
  width: 33%;
  .select {
    border-radius: 0;
  }
}
#searchBtn {
  margin-top: 29px;
  background-color: #FF4338;
  border-color: #FF4338;
}

img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 200%;
}
