<div class="container">
  <div class="row translatorcard">
    <div class="two columns">
      <img class="cardprofilepic" src={{mainCtrl.currentUser.profilepic}}>
    </div>
    <div class="ten columns">
      <div class="row">
        <div class="eight columns bio">
          <h5 class="name">{{mainCtrl.currentUser().username}}</h5><span class="agegender">{{mainCtrl.currentUser.age}} | {{profileCtrl.gender}}</span><span class="location">{{profileCtrl.residence[0].city}}, {{profileCtrl.residence[0].country}}</span>
          <span class="blurb">Hodor hodor - hodor hodor hodor; hodor hodor; hodor hodor? Hodor, hodor, hodor. Hodor hodor? Hodor! Hodor hodor, hodor hodor... Hodor hodor hodor... Hodor hodor hodor hodor! Hodor hodor hodor hodor hodor hodor; hodor hodor? Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor; hodor hodor - hodor hodor!</span>
        </div>
        <div class="four columns">
          <h6><strong>Languages</strong></h6>
          <span class="languages" ng-repeat="lang in profileCtrl.language | filter : filters : true">{{lang}}<span ng-hide="$last">,&nbsp;</span></span>
          <hr>
          <h6><strong>Specialties</strong></h6>
          <span class="specialties" ng-repeat="specialty in profileCtrl.specialty">{{specialty}}<span ng-hide="$last">,&nbsp;</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
