<div class="container">
  <form ng-submit="signupCtrl.signup()" name=signupform>
    <div class="row">
      <div class="one-third column offset-by-two">
        <div ng-class="{'has-error':!signupform.email.$valid}">
          <label for="email">Email Address</label>
          <input required type="email" name="email" class="u-full-width" id="email" ng-model="signupCtrl.new_user.email" />
          <span ng-show="signupform.email.$dirty && signupform.email.$error.required">You must enter a valid email address.</span>
          <span ng-show="signupform.email.$error.serverMessage">{{signupform.email.$error.serverMessage}}</span>
        </div>
        <div ng-class="{'has-error':!signupform.emailConformation.$valid}">
          <label for="emailConfirmation">Confirm Email Address</label>
          <input required name="emailConfirmation" type="email" class="u-full-width" id="emailConfirmation" ng-model="signupCtrl.new_user.emailConfirmation" password-confirm match-target="signupCtrl.new_user.email" />
          <span ng-show="signupform.emailConfirmation.$dirty && signupform.emailConfirmation.$error.required">You must confirm your email address.</span>
        </div>
        <span ng-show="signupform.emailConfirmation.$error.match">Email addresses do not match.</span>
      </div>
      <div class="one-third column">
        <div ng-class="{'has-error':!signupform.password.$valid}">
          <label for="password">Password</label>
          <input required name="password" type="password" class="u-full-width" id="password" ng-model="signupCtrl.new_user.password" minlength="6" />
          <span ng-show="signupform.password.$dirty && signupform.password.$error.required">You must enter a valid password.</span>
        </div>
        <div ng-class="{'has-error':!signupform.passwordConformation.$valid}">
          <label for="passwordConfirmation">Confirm Password</label>
          <input required name="passwordConfirmation" type="password" class="u-full-width" id="passwordConfirmation" ng-model="signupCtrl.new_user.passwordConfirmation" password-confirm match-target="signupCtrl.new_user.password" />
          <span ng-show="signupform.passwordConfirmation.$dirty && signupform.passwordConfirmation.$error.required">You must confirm your password.</span>
        </div>
        <span ng-show="signupform.passwordConfirmation.$error.match">Passwords do not match.</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="one-third column offset-by-four">
        <input id="searchBtn" class="button-primary u-full-width" type="submit" value="Sign Up" ng-disabled="signupform.$invalid"/>
      </div>
    </div>
  </form>
</div>
