<div class="container translators">
  <div class="row">
    <div class="twelve columns">
      <h2>Find a Translator</h2>
    </div>
    <div class="twelve columns">
      <p>Find a translator for the language you want to learn. Browse profiles of translators and choose a translator based on their experience and reviews from students like you. With thousands of translators, you'll easily be able to find a translator that fits your needs.</p>
    </div>
    <form>
      <div class="row">
        <div class="four columns">
          <label for="L1Input">I speak...</label>
          <select class="u-full-width" id="L1Input">
            <option value="Option 1">English</option>
            <option value="Option 2">日本語</option>
            <option value="Option 3">Français</option>
            <option value="Option 4">Español</option>
            <option value="Option 5">Bahasa Indonesia</option>
          </select>
        </div>
        <div class="four columns">
          <label for="L2Input">I need...</label>
          <select class="u-full-width" id="L2Input">
            <option value="Option 1">English</option>
            <option value="Option 2">日本語</option>
            <option value="Option 3">Français</option>
            <option value="Option 4">Español</option>
            <option value="Option 5">Bahasa Indonesia</option>
          </select>
        </div>
        <div class="four columns">
          <input id="searchBtn" class="button-primary u-full-width" type="submit" value="Search">
        </div>
      </div>
    </form>
  </div>
  <div class="row translatorcard">
    <div class="two columns">
      <img class="cardprofilepic" src="https://lh5.googleusercontent.com/-wMF30gprRJ8/AAAAAAAAAAI/AAAAAAAAPak/DchY1miINOU/s0-c-k-no-ns/photo.jpg">
    </div>
    <div class="ten columns">
      <div class="row">
        <div class="eight columns bio">
          <h5 class="name">Beyoncé Knowles</h5><span class="agegender">35 | 女</span>
          <span class="blurb">But it's worth it after fighting through my fears. But daddy liked his whisky with his tea. Suck on my balls, pause, I had enough. I ain't picking up (I ain't sorry). Yee haw. And, oh, and that's when he gave to me. (Sorry) I ain't sorry. But I know. I can feel the sun whenever you're near. Honey, honey. With his right hand on his rifle. Middle fingers up. Texas. Oh, my daddy said shoot. I made you cry when I walked away</span>
        </div>
        <div class="four columns">
          <h6><strong>Languages</strong></h6>
          <span class="languages">English, Français, Españ</span>
          <hr>
          <h6><strong>Specialties</strong></h6>
          <span class="specialties">Music, Medicine</span>
        </div>
      </div>
    </div>
  </div>
</div>
