<div class="container translators">
  <div class="row">
    <div class="Twelve Columns">
      <h2>Find a Translator</h2>
    </div>
    <div class="Twelve Columns">
      <p>Find a translator for the language you want to learn. Browse profiles of translators and choose a translator based on their experience and reviews from students like you. With thousands of translators, you'll easily be able to find a translator that fits your needs.</p>
    </div>
    <form>
      <div class="four columns">
        <label for="L1Input">I speak...</label>
        <select class="u-full-width" id="L1Input">
          <option value="Option 1">English</option>
          <option value="Option 2">日本語</option>
          <option value="Option 3">Français</option>
          <option value="Option 4">Español</option>
          <option value="Option 5">Bahasa Indonesia</option>
        </select>
      </div>
      <div class="four columns">
        <label for="L2Input">I need...</label>
        <select class="u-full-width" id="L2Input">
          <option value="Option 1">English</option>
          <option value="Option 2">日本語</option>
          <option value="Option 3">Français</option>
          <option value="Option 4">Español</option>
          <option value="Option 5">Bahasa Indonesia</option>
        </select>
      </div>
      <div class="four columns">
        <input id="searchBtn" class="button-primary u-full-width" type="submit" value="Search">
      </div>
    </form>
  </div>
  <div class="row">
    <div class="translatorcard">
      <div class="Two Columns">
        <img src="/images/sirocco.gif"
      </div>
    </div>
  </div>
</div>
